@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: #f5f5f5;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #f3aeae;
    box-shadow: 0 2px 8px rgba(212, 219, 115, 0.16);
    width: 460px;
    height: 680px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
h1{
    margin: 12px 0;
}
.add-elements{
    margin: 12px 0;
        
}
input{
    padding: 6px 4px;
    width: 70%;
}
button{
    padding: 7px 14px;
    background-color: #ba4ec4;
    border: none;
    border-radius: 4px;
    color: #c3a4e7;

}
.element-list{
    height: 550px;
    overflow-y: scroll
}
ul{
    padding: 15px;
   
}
li{
    list-style: none;
    padding: 10px 5px;
    background-color: rgb(81, 228, 203);
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(151, 140, 214, 0.16);
    border-radius: 3px;
    transition: .4s;
}
button:hover{
    background-color: #4cd4e6;
}

li:hover{
    background-color: #ba4ec4;
}

.checked{
    text-decoration: line-through;
    background-color: #ba4ec4;
}